<html>
  <head>
    <title>internwatch</title>
    {% block head %}
    <link type="text/css" rel="stylesheet" href="/static/build/css/internwatch.css" />
    <script src="/static/build/js/internwatch.js"></script>
    {% endblock %}
  </head>
  <body>

    {% include "nav.html" %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes col-xs-12 error list-unstyled bg-danger">
        {% for message in messages %}
          <li class="warning">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class="container">

      {% block body %}
      {% endblock body %}
    </div>
    <script>
      $('textarea').wysihtml5({
        toolbar: {
          "font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
          "emphasis": true, //Italics, bold, etc. Default true
          "lists": false, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
          "html": true, //Button which allows you to edit the generated HTML. Default false
          "link": true, //Button to insert a link. Default true
          "image": false, //Button to insert an image. Default true,
          "color": false, //Button to change color of font  
          "blockquote": true, //Blockquote  
        }
      });
    </script>
  </body>
</html>
