{% extends "base.html" %}

{% block body %}

<div>
  <div>Are you <em>sure</em> you want to send the below email to
    <a href="mailto:{{ posting.email }}">{{ posting.email }}</a></div>
  <div>{{ posting.email_subject }}</div>
  <iframe frameborder="0" class="col-xs-12" src="data:text/html;charset=utf-8,{{ posting.email_body|urlencode }}"></iframe>
  <form action="{{ url_for('send_email', posting_id=posting.id) }}" method="post">
    {{ form.hidden_tag() }}
    <button class="btn btn-danger" type="submit" name="no" value="no">No</button>
    <button class="btn btn-link" type="submit" name="yes" value="yes">Yes</button>
  </form>
</div>

{% endblock body %}
