{% extends "base.html" %}

{% block body %}

<div id="toolbar" class="btn-group">
  <a href="?show=pending" class="btn btn-default {% if show == "pending" %}active {% endif %}">
    <i class="glyphicon glyphicon-envelope"></i>
  </a>
  <a href="?show=sent" class="btn btn-default {% if show == "sent" %}active {% endif %}">
    <i class="glyphicon glyphicon-ok"></i>
  </a>
  <a href="?show=ignored" class="btn btn-default {% if show == "ignored" %}active {% endif %}">
    <i class="glyphicon glyphicon-trash"></i>
  </a>
</div>

<table class="table" data-toggle="table" data-sort-name="date" data-sort-order="desc" data-pagination="true" data-search="true" data-toolbar="#toolbar">
  <thead>
    <tr>
      <th data-field="date" data-sortable="true">Date</th>
      <th data-field="status" data-sortable="true">Status</th>
      <th>Title</th>
      <th>Text</th>
    </tr>
  </thead>
  {% for posting in postings %}
    {% set status = posting.status %}
    {% set Status = posting.Status %}
    <tr class="{% if status == Status.SENT %}success{% elif status == Status.IGNORED %}warning{% endif %}">
      <td class="col-xs-1">{{ posting.posted_at }}</td>
      <td class="col-xs-1">{{ posting.status }}</td>
      <td class="col-xs-1">
        <a href="{{ url_for('posting', posting_id=posting.id) }}">{{ posting.title }}</a>
      </td>
      <td>
        <iframe frameborder="0" class="col-xs-12" src="data:text/html;charset=utf-8,{{ posting.text|urlencode }}">
        </iframe>
      </td>
    </tr>
  {% endfor %}
</table>

{% endblock body %}
