{% extends "base.html" %}

{% block body %}

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a id="posting-tab" href="#posting" aria-controls="posting" role="tab" data-toggle="tab">Posting</a></li>
    <li role="presentation"><a id="response-tab" href="#response" aria-controls="response" role="tab" data-toggle="tab">Response</a></li>
    <li role="presentation"><a id="resolution-tab" href="#resolution" aria-controls="resolution" role="tab" data-toggle="tab">Resolution</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="posting">
      <h5><a href="{{ posting.url }}" target="_blank">{{ posting.title }}</a></h5>
      <iframe frameborder="0" class="col-xs-12" src="data:text/html;charset=utf-8,{{ posting.text_stripped|urlencode }}" style="height:400px;"></iframe>
      {% if posting.status == posting.Status.PENDING %}
        <form role="form" action="{{ url_for('ignore_posting', posting_id=posting.id) }}" method="POST">
          <button class="btn btn-danger" name="ignore">Ignore Posting</button>
        </form>
      {% endif %}
    </div>

    <div role="tabpanel" class="tab-pane" id="response">
      {% if posting.status == posting.Status.PENDING %}
        {% include "respond.html" %}
      {% elif posting.status == posting.Status.SENT %}
        <h3>Response has been sent</h3>

        <div><strong>Subject:</strong> {{ posting.email_subject }}</div>
        <div><strong>Body:</strong> <iframe frameborder="0" class="col-xs-12" src="data:text/html;charset=utf-8,{{ posting.email_body|urlencode }}" style="height:500px;"></iframe></div>
      {% elif posting.status == posting.Status.IGNORED %}
        <form role="form" action="{{ url_for('unignore_posting', posting_id=posting.id) }}" method="POST">
          <h3>This post was ignored</h3>

          <div>If you think it should be responded to, you can unignore it.</div>
          <div><button class="btn btn-danger" type="submit">Unignore</button></div>
        </form>
      {% endif %}

    </div>
    <div role="tabpanel" class="tab-pane" id="resolution">
      {% if posting.email_sent_at != None %}
        <div>Email was sent to {{ posting.email }} on {{ posting.email_sent_at }}</div>
      {% endif %}
    </div>
  </div>
</div>

<div class="modal fade" id="confirmEmail" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="confirmModalLabel">Are you <em>sure</em> you want to send the
        below email to <a href="mailto:{{ posting.email }}">{{ posting.email }}
        </a></h4>
      </div>
      <div class="modal-body">
        <iframe frameborder="0" class="col-xs-12" src="data:text/html;charset=utf-8,{{ posting.email_body|urlencode }}" style="height:500px;"></iframe>
      </div>
      <div class="modal-footer">
        <form action="{{ url_for('send_email', posting_id=posting.id) }}" method="post">
          {{ confirm.hidden_tag() }}
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="submit" name="yes" value="yes" class="btn btn-primary">Send it</button>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  if (window.location.hash) {
    $('#' + window.location.hash.substr(1) + '-tab').tab('show');
  }
</script>

{% endblock body %}
