{% extends "base.html" %}

{% block body %}

<div>
  <div><a href="{{ posting.url }}" target="_blank">{{ posting.title }}</a></div>
  <iframe frameborder="0" class="col-xs-12" src="data:text/html;charset=utf-8,{{ posting.text|urlencode }}"></iframe>
  <form action="{{ url_for('posting', posting_id=posting.id) }}" method="POST">
    {{ email_response.hidden_tag() }}

    <div>
      <ul>
        {% for error in email_response.email.errors %}
          <li>{{ error }}
        {% endfor %}
      </ul>
      {{ email_response.email.label() }}
      {{ email_response.email(class_="col-xs-12") }}
    </div>

    <div>
      <ul>
        {% for error in email_response.email_subject.errors %}
          <li>{{ error }}
        {% endfor %}
      </ul>
      {{ email_response.email_subject.label() }}
      {{ email_response.email_subject(class_="col-xs-12") }}
    </div>

    <div>
      <ul>
        {% for error in email_response.email_body.errors %}
          <li>{{ error }}
        {% endfor %}
      </ul>
      {{ email_response.email_body.label() }}
      {{ email_response.email_body(rows="10", class_="col-xs-12") }}
    </div>

    <div>
      <button class="btn btn-success" type="submit" name="save" value="save">Save</button>
      <button class="btn btn-link" type="submit" name="send_email" value="send_email">Send Email</button>
    </div>
  </form>
  <form action="{{ url_for('ignore_posting', posting_id=posting.id) }}" method="POST">
    <button class="btn btn-danger" name="ignore">Ignore Posting</button>
  </form>
</div>

{% endblock body %}
