{% extends "base.html %}

{% block body %}

{% for posting in postings %}
  <div>
    <div class="posting">
      <div>{{ posting.title }}</div>
      <div>{{ posting.text }}</div>
    </div>

    <form action="" method="POST">
      <div class="response">
        <input type="text" name="email_subject" value="{{ posting.email_subject }}" />
        <textarea name="email_body">{{ posting.email_body }}</textarea>
        <button type="submit">Save</button>
        <button name="send">Send Email</button>
        <button name="ignore">Ignore Posting</button>
      </div>
    </form>
  </div>
{% endfor %}

{% endblock body %}
